# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/

# Mac
.DS_Store

# Data artifacts
data/raw/
data/processed/*.csv

# Whitepaper artifacts
whitepaper_outputs/
*.nc

# Logs
logs/
*.log

# ArviZ / PyMC caches
*.hdf5
*.h5